{% extends "base_generic.html" %} {% block content %}
<meta
  name="google-signin-client_id"
  content="207011433677-q1rgc6epl3uuuhivibjvlam0vv0fk6o8.apps.googleusercontent.com"
/>

{% load widget_tweaks %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />

<div class="sidenav">
  <div class="login-main-text text-center">
    <a href="{% url 'index' %}">
      <img class="center px-5" src="{% static 'images/Logo.png' %}" />
    </a>
  </div>

  <!-- image for login on the left -->
  <div>
    <img />
  </div>
</div>

<div class="main">
  <div class="col-md-5">
    <div class="login-form">
      {% if next %} {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page.</p>
      {% else %}
      <p>Please login to see this page.</p>
      {% endif %} {% endif %}

      <div class="auth-label-text">Login</div>

      <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}

        <div class="form-group">
          <div class="row">
            <div class="col">{{ form.username.label_tag }}</div>

            <div class="col">
              {{ form.username|add_class:"form-control" }}
            </div>
          </div>
        </div>

        <br />

        <div class="form-group">
          <div class="row align-items-start">
            <div class="col">{{ form.password.label_tag }}</div>

            <div class="col">
                {{ form.password|add_class:"form-control" }}
            </div>
          </div>
        </div>
        {% if form.errors %}
        <p class="text-danger">
            Your username and password did not match. Please try again.
        </p>
        {% endif %}

        <input type="submit" class="submit-button" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
  </div>
</div>

<script src="https://apis.google.com/js/platform.js" async defer></script>
{% endblock %}
