{% extends "base_generic.html" %}

{% block content %}

{%load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/application-list.css' %}">

<div class="container">
    <div class="title">Projects I applied to</div>

    {% for application in application_list %}
    
    <div class="d-flex flex-row">
        
        <div class="card" style="width: 18rem;">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnh6Tc_omXAjKGBnrjPhqD5DiHrN-QwH-DTrLIRq=s900-c-k-c0x00ffffff-no-rj" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Ada, 19</p>
            </div>

            <div class="card-body">
                <button class="accept">Accept</button>
                <button class="reject">Reject</buttona>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnh6Tc_omXAjKGBnrjPhqD5DiHrN-QwH-DTrLIRq=s900-c-k-c0x00ffffff-no-rj" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Ada, 19</p>
            </div>

            <div class="card-body">
                <button class="accept">Accept</button>
                <button class="reject">Reject</buttona>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnh6Tc_omXAjKGBnrjPhqD5DiHrN-QwH-DTrLIRq=s900-c-k-c0x00ffffff-no-rj" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Ada, 19</p>
            </div>

            <div class="card-body">
                <button class="accept">Accept</button>
                <button class="reject">Reject</buttona>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnh6Tc_omXAjKGBnrjPhqD5DiHrN-QwH-DTrLIRq=s900-c-k-c0x00ffffff-no-rj" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Ada, 19</p>
            </div>

            <div class="card-body">
                <button class="accept">Accept</button>
                <button class="reject">Reject</buttona>
            </div>
        </div>
    </div>

    <div class="d-flex flex-row">
        
        <div class="card" style="width: 18rem;">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnh6Tc_omXAjKGBnrjPhqD5DiHrN-QwH-DTrLIRq=s900-c-k-c0x00ffffff-no-rj" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Ada, 19</p>
            </div>

            <div class="card-body">
                <button class="accept">Accept</button>
                <button class="reject">Reject</buttona>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnh6Tc_omXAjKGBnrjPhqD5DiHrN-QwH-DTrLIRq=s900-c-k-c0x00ffffff-no-rj" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Ada, 19</p>
            </div>

            <div class="card-body">
                <button class="accept">Accept</button>
                <button class="reject">Reject</buttona>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnh6Tc_omXAjKGBnrjPhqD5DiHrN-QwH-DTrLIRq=s900-c-k-c0x00ffffff-no-rj" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Ada, 19</p>
            </div>

            <div class="card-body">
                <button class="accept">Accept</button>
                <button class="reject">Reject</buttona>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnh6Tc_omXAjKGBnrjPhqD5DiHrN-QwH-DTrLIRq=s900-c-k-c0x00ffffff-no-rj" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Ada, 19</p>
            </div>

            <div class="card-body">
                <button class="accept">Accept</button>
                <button class="reject">Reject</buttona>
            </div>
        </div>
    </div>

    <div class="d-flex flex-row">
        
        <div class="card" style="width: 18rem;">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnh6Tc_omXAjKGBnrjPhqD5DiHrN-QwH-DTrLIRq=s900-c-k-c0x00ffffff-no-rj" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Ada, 19</p>
            </div>

            <div class="card-body">
                <button class="accept">Accept</button>
                <button class="reject">Reject</buttona>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnh6Tc_omXAjKGBnrjPhqD5DiHrN-QwH-DTrLIRq=s900-c-k-c0x00ffffff-no-rj" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Ada, 19</p>
            </div>

            <div class="card-body">
                <button class="accept">Accept</button>
                <button class="reject">Reject</buttona>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnh6Tc_omXAjKGBnrjPhqD5DiHrN-QwH-DTrLIRq=s900-c-k-c0x00ffffff-no-rj" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Ada, 19</p>
            </div>

            <div class="card-body">
                <button class="accept">Accept</button>
                <button class="reject">Reject</buttona>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnh6Tc_omXAjKGBnrjPhqD5DiHrN-QwH-DTrLIRq=s900-c-k-c0x00ffffff-no-rj" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Ada, 19</p>
            </div>

            <div class="card-body">
                <button class="accept">Accept</button>
                <button class="reject">Reject</buttona>
            </div>
        </div>
    </div>
</div>
{% endblock %}