{% extends "base_generic.html" %} {% block content %} {%load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/application-list.css' %}"
/>

<div class="container">
  <div class="title">Projects I applied to</div>

  {% for application in application_list %}
  {% if forloop.counter0|divisibleby:4 %}

  <div class="d-flex flex-row">
    {% endif %}
    </div>
    <div class="card" style="width: 18rem">
      <img
        src="https://yt3.ggpht.com/ytc/AAUvwnh6Tc_omXAjKGBnrjPhqD5DiHrN-QwH-DTrLIRq=s900-c-k-c0x00ffffff-no-rj"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <p class="card-text">{{ application.profile }}, 19</p>
      </div>

      <div class="card-body">
        <form method="POST" action="{% url 'application-decision' pk=application.pk %}">
            {% csrf_token %}
            <input
            type="submit"
            class="accept"
            name="AC"
            value="Accept"
            >
            </input>
            <input
            type="submit"
            class="reject"
            name="RE"
            value="Reject"
            >
            </input>
        </form>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
