<!DOCTYPE html>

<!--
This is pip3 install -r requirements.txtthe HTML page when a user submits a posting
-->
<!-- TODO: Link submit button to the hurray button!-->
<html lang="eng">
  <head>
    <meta charset="UTF-8"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/posting.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Submitted!</title>
  </head>
  </html>

<body background="https://www.flaticon.com/free-icon/confetti_3858887?term=party&page=1&position=37&page=1&position=37&related_id=3858887&origin=search">
  <section id="mainHeading">
    <h1>Hooray!
      Post has been created
    </h1>
  </section>
</body>
<footer>
  <div>Icons made by
    <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
  </div>
</footer>
</html>

