<!--
  This is the HTML file for the group detail page
-->
{% extends "base_generic.html" %}

{% block content %}

{%load static %}


<link rel="stylesheet" type="text/css" href="{% static 'css/group-detail.css' %}" />
  <title>Group Detail</title>
<!--TODO: Fix header font and placement in CSS-
  [] Add Logo to the Side Blossom Logo
-->
      <h1>Software Engineer Opening</h1>
      <!-- both buttons for the right side of page-->
      <!--TODO:
        [ ] [make pink]
        [ ] [resize]
-->
      <div class="buttons">
        <div class="action-btns">
          <button name="apply" class="action-btns apply" type="apply" value="apply">Apply
          </button>
          <button name="favorites" class="action-btns favorites" type="message" value="message">Save to Favorite
          </button>
        </div>
      </div>
    <!-- Posted by and team members-->
      <div class="team-members">
        <div class ="name-of-memb">
          <div class="authorPost">
            Posted by:
            <p>Tung Netmaneesuk</p>
            </div>
            <div class="teamMemb">
              Team members:
              <p>Chuc, Ada, Liz</p>
              </div>
        </div>
      </div>

  <!-- Subheading Side Bar -->
  <!--TODO:
  [ ] make the headings bold
 -->
  <div class="headings">
    <div class="subHeader">
      <h2>Topics</h2>
      <p>We are creating a project that is made for students by students.
        This project should take around 1 month. Looking for a teammate that
        can help with bugs.
      </p>
    </div>
    <div class="subHeader">
      <h2>Project Phase:</h2>
      <p>We are at the development phase</p>
    </div>
    <div class="subHeader">
      <h2>Skills Preferred:</h2>
      <p>Experience with web technologies preferred;
        Experience working independently on software projects,
        including the ability to break down project work into smaller features and
        communicate status updates effectively
        Experience supporting a production high-scale web-based software product or service</p>
    </div>
    <div class="subHeader">
      <h2>Description:</h2>
      <p>Create the technical documentation for the new applications,
        interfaces or web sites. Actively participate
        in design reviews....
      </p>
    </div>
</div>

{% endblock %}