{% extends "base_generic.html" %}
<!--
This is the HTML page when creating a posting
for finding a teammate. The <form action> leads to hooray
submitted page.
-->
<!-- TODO: Link submit button to the hurray button!-->

{% block title %}
  Create a Posting
{% endblock %}

{% block content %}
{% load widget_tweaks %}{% load static %}
<link rel="stylesheet" href="{% static 'css/project-form.css' %}" />

<section id="title">
  <h1>Create a Post</h1>
</section>
<section id="inputbox">
  <form method="POST" action="{% url 'create-projects' %}">
    <!--
      [] add eye glass to inside search box
      [] when user makes a search or entry it gets added below
      -->
    <div class="row">
      <div class="col">{{ form.title.label_tag }}</div>

      <div class="col">
        {% render_field form.title placeholder=form.title.help_text class="py-3" %}
      </div>
    </div>
    <div class="row">
      <div class="col">{{ form.preferred_role.label_tag }}</div>

      <div class="col">
        {% render_field form.preferred_role placeholder=form.preferred_role.help_text class="my-4 py-3" %}
      </div>
    </div>
    <div class="row">
      <div class="col">{{ form.preferred_skills.label_tag }}</div>

      <div class="col">
        {% render_field form.preferred_skills placeholder=form.preferred_skills.help_text class="my-4 py-3" %}
      </div>
    </div>
    <div class="row">
      <div class="col">{{ form.development_phase.label_tag }}</div>

      <div class="col">
        {% render_field form.development_phase placeholder=form.development_phase.help_text class="my-4 py-3" %}
      </div>
    </div>
    <label>
      <input
        type="text"
        id="skillspreferred"
        name="skillspreferred"
        placeholder="Skills Preferred"
      /><br />
    </label>
    <div class="dropdown">
      <button class="phase-btn">Select Phase of Project</button>
      <div class="dropdown-content">
        <a href="#ideation">Ideation</a>
        <a href="#planning">Planning</a>
        <a href="#design">Design</a>
        <a href="#develop">Develop</a>
        <a href="#deploy">Deploy</a>
      </div>
    </div>
    <div class="create-button">
      <div class="button">
        <button class="button">Create</button>
      </div>
    </div>
  </form>
</section>

{% endblock %}
