<!DOCTYPE html>

<!--
This HTML page is the page once a user is asked to verify their email after login
-->
<!-- TODO: make sure that once button gets clicked this page would fire-->
<html lang="eng">
  <head>
    <meta charset="UTF-8"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/logged_out.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Verify</title>
  </head>
  <body class="verify-email-bckg">
    <h1>
      We got it!
Check your email
    </h1>
  </body>
  </html>
</html>

