<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Team Finder{% endblock %}</title>
  </head>
  <body>
    {% block content %} 
    
    {%load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base-generic.css' %}">

    <nav class="nav">
      <div class="container">
          <div class="logo">
              <a href="#">HelloKitty</a>
          </div>
          <div class="main_list" id="mainListDiv">
              <ul>
                  <li><a href="#">Homepage</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Explore</a></li>
                  <li><a href="#">Dashboard</a></li>
                  <li><a href="#">Profile</a></li>
              </ul>
          </div>
      </div>
    </nav>

    {% endblock %}
  </body>
</html>


