{% extends "base_generic.html" %}

{% block content %}
{%load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>

<div class="container">
    <div class="row"> 
        <div class="col-6">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/pRJ-Dai3oB0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-6">
            <h1 class="title"><b></b>Blossom</b></h1>
            <h6 class="sub-title">Made for students by students!</h6>
            <a href="{% url 'projects' %}"><button class="explore-button">Explore Now</button> </a>
            <a href="#about"><button class="explore-button">Learn More</button></a>
        </div>

    </div>

    <h3 id="about" class="about">About</h3>

    <h6 class="about-description">Blossom is where you can either create a post about your project to seek for those who find interests in it and want to collab with you, or it is where you can look for projects that you find interest in to apply for. On Blossom, you and your potential teammate have a chance to communicate before any project commitment</h6>

    <div id="about-cards" class="row">
        <div class="card" style="width: 16rem;">
            <div class="card-body">
                <h5 class="card-title"><b>Create a Post</b></h5>
                <div class="row">
                    <div class="col-8">
                        <p class="card-text">Create a project post indicating the skills you require</p>
                    </div>
                    <div id="numbers" class="col-4">
                        <p>1</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" style="width: 16rem;">
            <div class="card-body">
                <h5 class="card-title"><b>Browse Projects</b></h5>
                <div class="row">
                    <div class="col-8">
                        <p class="card-text">Browse through the numerous projects and apply to one that interests you</p>
                    </div>
                    <div id="numbers" class="col-4">
                        <p>2</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" style="width: 16rem;">
            <div class="card-body">
                <h5 class="card-title"><b>Communicate</b></h5>
                <div class="row">
                    <div class="col-8">
                        <p class="card-text">Talk to potential team members to learn more about the project and see if it is a good fit</p>
                    </div>
                    <div id="numbers" class="col-4">
                        <p>3</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" style="width: 16rem;">
            <div class="card-body">
                <h5 class="card-title"><b>Project Commitment</b></h5>
                <div class="row">
                    <div class="col-8">
                        <p class="card-text">You're ready to go! Have fun with the project!</p>
                    </div>
                    <div id="numbers" class="col-4">
                        <p>4</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <h3 class="about">Meet The Team!</h3>

    <div id="cards" class="row">
        <div class="team-card" style="width: 16rem;">
            <img src="https://japantoday-asset.scdn3.secure.raxcdn.com/img/store/a3/8c/b5543a303fa1f02d1dfe2733f0ff748e5c59/KM-1/_w850.jpg" class="profile-pic">
            <h5 class="name">Tung</h5>
            <h8 class="pronouns">He/Him</h8>
            <p class="description">Role: Backend <br> Language used: Python, Django</p>
            <div class="job"><h3 class="mb-0">Psychology</h3></div>
        </div>

        <div class="team-card" style="width: 16rem;">
            <img src="https://japantoday-asset.scdn3.secure.raxcdn.com/img/store/a3/8c/b5543a303fa1f02d1dfe2733f0ff748e5c59/KM-1/_w850.jpg" class="profile-pic">
            <h5 class="name">Chuc</h5>
            <h8 class="pronouns">She/Her</h8>
            <p class="description">Role: Frontend, Designer <br> Language used: HTML, CSS</p>
            <div class="job"><h3 class="mb-0">Biology, Psychology</h3></div>
        </div>

        <div class="team-card" style="width: 16rem;">
            <img src="https://japantoday-asset.scdn3.secure.raxcdn.com/img/store/a3/8c/b5543a303fa1f02d1dfe2733f0ff748e5c59/KM-1/_w850.jpg" class="profile-pic">
            <h5 class="name">Liz</h5>
            <h8 class="pronouns">She/Her</h8>
            <p class="description">Role: Frontend, Designer <br> Language used: HTML, CSS</p>
            <div class="job"><h3 class="mb-0">Geography</h3></div>
        </div>

        <div class="team-card" style="width: 16rem;">
            <img src="https://japantoday-asset.scdn3.secure.raxcdn.com/img/store/a3/8c/b5543a303fa1f02d1dfe2733f0ff748e5c59/KM-1/_w850.jpg" class="profile-pic">
            <h5 class="name">Ada</h5>
            <h8 class="pronouns">She/Her</h8>
            <p class="description">Role: Frontend <br> Language used: HTML, CSS</p>
            <div class="job"><h3 class="mb-0">Computer Science</h3></div>
        </div>

    </div>
</div>

<br>



{% endblock %}
